html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

label,
.form-select,
option,
input[type=date] {
  color: #008cba;
  font-weight: bold;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-success);
}

input[type=text],
textarea {
  text-transform: uppercase;
}

thead th,
tfoot td {
  color: #008cba;
  font-weight: bold;
}

tbody tr {
  --bs-table-striped-color: none;
  color: #e99002;
  font-weight: bold;
}

.list-airline-table tbody {
  white-space: nowrap;
}

.list-airline-row i,
.list-airline-row button {
  border-radius: 0;
  border-width: 0px;
  background-color: transparent;
}

/* form-control input focus style */
.form-control:focus,
.form-select:focus {
  box-shadow: 0 0 0 0.09rem rgb(67 172 106 / 25%)
}

/* error hadler */
.text-danger {
  font-size: 0.7rem;
}

/* Buttons full size */
.btne {
  width: 100%;
}

.input {
  width: 100%;
}

/* style to home page card footer */
.card-footer.text-muted>i {
  font-size: .9rem;
}

/* style to home page card switch filled */
.form-switch .form-check-input {
  width: 3.2rem;
  height: 1.3rem;
  cursor: pointer;
}